{%  extends  "base.html" %}

{% block title %} 404 {% endblock %}

{% block page_content %}

<style>
    body{
        background-color: #F9F9F9;
    }

    .ze_row {
        margin-top:140px;
    }

    .ze_fa {
        line-height: 1.2em;
    }

    .col-md-4 h3 {
    text-align: center;
    }

    .col-md-4 p {
       text-align: center;
    }

    .col-md-4 a {
    text-align: center;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    text-decoration:underline;
    }
</style>

<div class="container">
	<div class="row ze_row">
			<div class="col-md-2 col-md-offset-3">
				<div class="fa-stack fa-5x">
					<i class="fa fa-stack-2x fa-desktop"></i>
					<i class="fa fa-stack-1x fa-close ze_fa" ></i>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="h1 text-danger "><strong>HTTP 404</strong></h3>
				<p class="help-block">页面不存在!</p>
                <a href="{{ url_for('main.index') }}">我回首页,你慢慢找!</a>
			</div>
		</div>
	</div>

{% endblock %}