
{% extends "auth/base_login.html" %}

{% import "auth/wtf_login.html" as wtf %}

{% block title %}ZEOS - Login{% endblock %}



{% block content %}



<div class="container">
{#  模板中显示 flash 消息的功能 #}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message }}
</div>
{% endfor %}
</div>



<body class="login_body">
  <div class="container-fluid">
    <div id="logo">
      <span>
        <h1>LinuxHub</h1>
        <p>泽泽运维管理监控平台</p>
      </span>

    </div>
    <div class="loginbox center-block">
		{{ wtf.quick_form(form) }}  {# 入口调用  #} 
     </div>
  </div>
</body>




{% endblock %} 
