{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}

<div class="page-header">


<div class="profile-header">


{% if user.is_admin %}
     <div class="alert alert-info" role="alert">
     您是超级管理员账户,您可以进行
     <a href="{{ url_for('auth.user_manage') }}" class="alert-link">管理所有用户</a>
    </div>
{% endif %}

<h4>用户资料信息</h4>
<div class="table-responsive"> <!-- 响应式表格 start -->
<table class="table table-bordered table-striped">
       <colgroup>
       <col class="col-xs-1">
       <col class="col-xs-4">
       </colgroup>

       <tbody>
              <tr>
              <th scope="row"><code>用户</code></th>
              <td>{{ user.username }}</td>
              </tr>

              <tr>
              <th scope="row"><code>登录邮箱</code></th>
              <td>{{ user.email }}</td>
              </tr>

             <tr>
              <th scope="row"><code>登录密码</code></th>
              <td>
              <a href="{{ url_for('auth.change_password') }}">修改密码</a>
              </td>
             </tr>


       </tbody>
</table>
</div> <!-- 响应式表格 stop -->

</div>




</div>




{% endblock %}